@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Pixelify+Sans:wght@400..700&display=swap');

#myVideo {
    position: fixed;
    right: 0;
    bottom: -120%;
    min-width: 100%;
    min-height: 100%;
    object-fit:cover;
    z-index:-1;
  }


body{
    background-color: #F1E5AC; 
    display: flex;
    flex-direction: column;
    color: white;
    font-family:"Crimson Pro";
    font-size:30px;
    width: 50%;
    margin:auto;
    margin-top:5%;
    border-color:#DADDA6 ;
     border-style: solid;
    border-width: 10px;
    z-index:1;
}

main{
    margin:auto;
    padding-top:25px;
    padding-bottom:25px;
}

.arrow1{
    display:flex;
    position:absolute;
    top:80%;
    right: 15%;
    z-index:10;
    width:50px;
    height:50px;
}
.arrow1:hover{
    transform: translate(25px);
    
  }
